.page {
    font-size: 18px;
}

.header {
    height: 50px;
    background-color: #b56c52;
}

.photo {

}

img {
    object-fit: contain;
}

.invite {
    background-color: lightgreen;
}

.question {
    background-color: teal;
}

