.menu {
    /*background-image: url(../../img/smooth-white-stucco-wall.jpg);*/
    /*background-size: cover;*/
    height: 50px;
}

.img {
    width: 100%;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.text {
    margin-bottom: 20px;
    line-height: 1.4;
}

.question {
    margin-bottom: 20px;
    line-height: 1;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button1 {
    width: 140px;
    height: 60px;
    background-color: #c5afd5;
    color: #4b4b4b;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.button1:active {
    background-color: #9077a8;
}

.button2 {
    width: 140px;
    height: 60px;
    background-color: #e7b6ae;
    color: #4b4b4b;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.button2:active {
    background-color: #b18680;
}