.form {
    padding-top: 60px;
}

.block {
    margin-bottom: 30px;
    background-color: #ececec;
    border-radius: 15px;
    padding: 15px;
    -webkit-box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
    box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
}

.label {
    display: flex;
}

.input {
    display: none;
}

.input:checked + .span {
    background-color: #c5afd5;
    transition: 0.3s linear;
    color: white;
}

.span {
    margin-bottom: 10px;
    background-color: #e7b6ae;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    padding: 10px;
}