.block {
    margin-bottom: 30px;
    background-color: #ececec;
    border-radius: 15px;
    padding: 15px;
    -webkit-box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
    box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
}

.header {
    margin-bottom: 15px;
    line-height: 1;
}

.label {
    display: flex;
}

.input {
    display: none;
}

.input:checked + .span {
    background-color: #c5afd5;
    transition: 0.3s linear;
    color: white;
}

.span {
    margin-bottom: 10px;
    background-color: #e7b6ae;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.button {
    width: 140px;
    height: 60px;
    background-color: #c5afd5;
    color: #4b4b4b;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.button:active {
    background-color: #9077a8;
}

.disabled {
    width: 140px;
    height: 60px;
    background-color: #e7b6ae;
    opacity: 0.7;
    color: #4b4b4b;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}