.form {
    width: 320px;
    text-align: center;
}

.input {
    width: 100%;
    font-size: 16px;
    border: 3px solid transparent;
    padding: 10px 25px;
    background-color: #ffecc1;
    margin-bottom: 20px;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border: 3px solid #a57bdf;
    transition: .4s;
}