.form {
    padding-bottom: 60px;
}

.input {
    margin-bottom: 20px;
    border: none;
    height: 35px;
    width: 285px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
}

.input:focus {
    outline: none;
    border: 3px solid #bb9fcf;
}

.button {
    width: 140px;
    height: 60px;
    background-color: #c5afd5;
    color: #4b4b4b;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.button:active {
    background-color: #9077a8;
}