.form {
    /*width: 100px;*/
}

.input {
    margin-bottom: 20px;
    border: none;
    height: 35px;
    width: 300px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
}

.input:focus {
    outline: none;
    border: 3px solid #bb9fcf;
}

.button {
    width: 140px;
    height: 60px;
    background-color: #bb9fcf;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.8;
}

.button:active {
    opacity: 1;
}