.modal-container {
    position: fixed;
    top: -200px; /* Начальное положение за пределами экрана */
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    transition: top 0.3s ease-out; /* Плавное анимированное выезжание */
}

.modal-content {
    padding: 20px;
}

/* Стили для активного состояния модального окна */
.modal-container.active {
    top: 100px; /* Положение, когда модальное окно выезжает сверху экрана */
}