.App {
  text-align: center;
  max-width: 414px;
  background-color: lightblue;
  margin: 0 auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}



