.container {
    max-width: 90%;
    margin: 0 auto;
}

.page {
    margin: 0 auto;
    max-width: 900px;
    -webkit-box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
    box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
    background-image: url(./img/smooth-white-stucco-wall.jpg);
    background-size: cover;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.content {
    padding-bottom: 60px;
}

.img {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
    box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.subtitle {
    margin-bottom: 20px;
    line-height: 1.2;
}

.text {
    margin-bottom: 20px;
    line-height: 1.2;
}

.buttons__wrp {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 140px;
    height: 60px;
    color: #4b4b4b;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.btn--min {
    height: 30px;
    width: 70px;
    font-size: 11px;
}

.btn--purple {
    background-color: #c5afd5;
}

.btn--purple:active {
    background-color: #9077a8;
}

.btn--orange {
    background-color: #e7b6ae;
}

.btn--orange:active {
    background-color: #b18680;
}

.btn-disabled {
    background-color: #e7b6ae;
    opacity: 0.7;
}

@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
}



/*@media (min-width: 769px) {*/

/*  body {*/
/*    min-height: 100vh;*/
/*  }*/

/*  .page {*/
/*    max-width: 650px;*/
/*    margin-top: 100px;*/
/*    margin-bottom: 100px;*/
/*    !*display: flex;*!*/
/*  }*/
/*}*/