/*.App {*/
/*  background-color: #ffe9e2;*/
/*  min-height: 100vh;*/
/*}*/

.img {
  width: 100%;
  opacity: 0.7;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
}

.app-header {
  margin-bottom: 15px;
}

.app-text {
  margin-bottom: 20px;
}