.App {
  text-align: center;
  max-width: 425px;
  background-color: #ffe9e2;
  margin: 0 auto;
}


.header {
  height: 50px;
  background-color: #5C3B21;
  box-shadow: 0 23px 64px 12px #a06e6e;
}

.img {
  width: 425px;
  opacity: 0.8;
}


.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
}



