*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

input {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  min-height: 100vh;
  background-image: url(./img/fon-mramor.png);
  background-size: cover;
}

/*.page {*/
/*  margin: 200px auto 0;*/
/*  max-width: 768px;*/
/*  -webkit-box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);*/
/*  box-shadow: 9px 10px 15px 5px rgba(0,0,0,0.58);*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .page {*/
/*    margin-top: 0;*/
/*  }*/

/*  .content {*/
/*    min-height: 100vh;*/
/*  }*/
/*}*/